@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --dark-fern: #3A4D39;
    --moss-green: #4F6F52;
    --sage-green: #739072;
    --vanilla-cream: #ECE3CE;
}

html, body{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body {
    height:100vh;
    width:100vw;
}
